.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(70, 65, 65);
    background-color: #747ed8;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
   background-color: coral;
   padding-top: 40px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    padding: 5px;
}

.author {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 10%;
}
@media screen and (max-width: 780px) {
    .header {
        font-size: 40px;
    }
    .name {
        font-size: 25px;
    }
    .author {
        font-size: 16px;
    }
    .description {
        font-size: 14px;
    }
}